.DS_Store
secrets/
!secrets/README.md
stacks/
__init__.cpython-39.pyc
views.cpython-39.pyc
manager.cpython-39.pyc
barista.cpython-39.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
flask-app/src/__pycache__/__init__.cpython-39.pyc
flask-app/src/__pycache__/views.cpython-39.pyc
flask-app/src/manager/__pycache__/manager.cpython-39.pyc
